doctype html
html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(charset='utf-8')
        meta(name='keywords', content='ewebs – eventweb solutions, ewebs, event, web, solutions, webb, eventwebb, event web, eventweb, eventweb solutions, eventhemsida, eventsida')
        title= title
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/assets/css/styles.css', type='text/css')
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-111416455-1')
        script.
            window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-111416455-1');

    body(class='body-page-' + id)
        header
            div(class='container')
                nav(class='navbar navbar-toggleable-md')
                    div(class='container')
                        a(class='navbar-brand' href='/') ewebs
                        button(class='navbar-toggler collapsed', type='button', data-toggle='collapse', data-target='#navbar-items', aria-controls='navbar-items', aria-expanded='false', aria-label='Meny')
                            span(class='navbar-toggler-icon')

                        - let nav = { funktioner: 'Funktioner', kontakt: 'Kontakt' };
                        div(class='collapse navbar-collapse', id='navbar-items')
                            ul(class='navbar-nav ml-auto')
                                each label, href in nav
                                    if href == id
                                        li(class='nav-item active')
                                            a(class='nav-link', href='/' + href)= label
                                    else
                                        li(class='nav-item')
                                            a(class='nav-link', href='/' + href)= label
                                //-li(class='nav-item')
                                    a(class='nav-link btn btn-primary', href='https://dashboard.ewebs.se')
                                        span Logga in

                block header
        
        main(class='page-' + id)
            block content
            
        footer
            div(class='container')
                div(class='row')
                    div(class='col-sm-6')
                        p #[strong Support]
                        a(href='mailto:support@ewebs.se') support@ewebs.se
                        span(class='d-block small') 0735 &ndash; 14 16 59
                        p(class='mt-3') #[strong Information]
                        a(href='mailto:info@ewebs.se') info@ewebs.se
                        span(class='d-block small') 0735 &ndash; 14 16 59
                    div(class='col-sm-6')
                        ul(class='navbar-nav')
                            li
                                p #[strong Snabblänkar]
                            
                            if(id == 'index')
                                li(class='nav-item active')
                                    a(href='/') Startsida
                            else
                                li(class='nav-item')
                                    a(href='/') Startsida
                                        
                            each label, href in nav
                                if href == id
                                    li(class='nav-item active')
                                        a(href='/' + href)= label
                                else
                                    li(class='nav-item')
                                        a(href='/' + href)= label
                                        
                            //-li(class='nav-item')
                                a(href='https://dashboard.ewebs.se') Logga in &rarr;
                        
            script(src='https://maps.googleapis.com/maps/api/js')
            script(src='/assets/js/scripts.js')